<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<appSettings>
		<add key="ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=$path$CounterData.mdb;User ID=Admin;Password=;" />
		<add key="DbFileName" value="CounterData.mdb" />
		<add key="Mode" value="Local" />
		<add key="Server" value="RNOOEMDEVSQL03.northamerica.corp.microsoft.com" />
		<add key="Database" value="LOC" />
	</appSettings>
</configuration>